body{
	color: rgba(0,0,0,.8);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	padding-top: 2.7rem;
	padding-bottom: 2rem;
}
h1 {
	font-size: 2.3rem
}
img.logo {
	width: 75px;
	height: 75px;
}
a.btn-matruka,a.btn-matruka:hover {
	text-align: left;
	max-width: 180px;
	margin: auto;
	border: none;
	border-radius: 8px;
	color:#fff;
	line-height: 20px;
}
.btn-apt a.btn-matruka,.btn-apt a.btn-matruka:hover {
	max-width: 160px;
}
.btn-matruka img {
	width: 35px;
	height: 35px;
	float: left;
	margin-right: 10px
}
.btn-matruka > span {
	display: block;
}
.btn-matruka > span:nth-child(2) {
	font-size: 0.9rem;
	margin-top: -1px;
}
.btn-matruka > span:nth-child(3	) {
	margin-top:-3px;
}
.btn-cydia {
	background: #825341;
}
.btn-zebra {
	background: #2a2f33;
}
.btn-installer {
	background: #2990ef;
}
.btn-sileo {
	background: #15b9b8;
}
.btn-github {
	background: #9ca5ac;
}
.btn-twitter {
	background: #1da1f3;
}
.btn-donate {
	background: #f65e5d;
}
@media (min-width:992px) {
	#slider-packages .slick-list::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 60px;
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff3a',GradientType=1 );
		background-repeat: repeat-x;
		z-index: 999;
	}
	#slider-packages .slick-list::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 60px;
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff3a', endColorstr='#ffffff',GradientType=1 );
		background-repeat: repeat-x;
		z-index: 999;
	}
}
#slider-packages .slick-list img {
	border-radius: 17px;
}
#slider-packages.slick-dotted.slick-slider {
	margin-bottom: 0;
}
#slider-packages .slick-dots {
	width: 300px;
	margin: auto;
	position: relative;
	bottom: auto;
}
#slider-packages .slick-dots li img {
	width: 40px;
	height: 40px;
}
#slider-packages .slick-dots li {
	margin: 2.5px;
	width: 40px;
	height: 40px;
	opacity: 0.6;
}
@media (min-width:375px) and (max-width: 1200px) {
	#slider-packages .slick-dots {
		width: 330px;
	}
}
@media (min-width: 375px) {
	#slider-packages .slick-dots li img {
		width: 50px;
		height: 50px;
	}
	#slider-packages .slick-dots li {
		width: 50px;
		height: 50px;
	}
}
@media (min-width: 1200px) {
	#slider-packages .slick-dots {
		width: auto;
	}
}
#slider-packages .slick-dots li.slick-active {
	opacity: 1;
}
.handwrite {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 22px;
}
.handwrite span {
	display: inline-block;
}
.handwrite span:nth-child(2n+1) {
	transform: rotate(-1deg);
}
.handwrite span:nth-child(2n) {
	transform: rotate(1deg);
}
.heart {
	font-size: 16px;

}
.heart svg {
	margin-top: -10px;
}
@media (min-width: 992px) and (max-width: 1200px) {
	.d-lg-block {
		font-size: 15px;
	}
	.img-phone {
		margin-top: 75px !important;
	}
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
	@media (min-width:992px) {
		#slider-packages .slick-list::before {
			background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0000003a',GradientType=1 );
			background-repeat: repeat-x;
			z-index: 999;
		}
		#slider-packages .slick-list::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 60px;
			background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000003a', endColorstr='#000000',GradientType=1 );
			background-repeat: repeat-x;
			z-index: 999;
		}
	}
}