RewriteEngine On

RewriteBase https://matruka.me/
RewriteRule ^(Release)$ release.php
RewriteRule ^(Packages.*)$ package.php
RewriteRule ^(Packages)$ package.php
RewriteRule ^debians/(.*)\.deb$ release.php
